<h2>Modification d'une recette</h2>
<form action="/recettes/<%= recette.id %>?_method=PUT" method="POST">
<%- include('variables') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/recettes">Annuler</a>
        <button class="btn btn-primary" type="submit">Modifier</button>
    </div>
</form>