<h2>Rechercher des recettes</h2>
<form action="/recettes" method="GET">
<div class="form-row">
    <div class="form-item">
        <label>Intitulé de la recette</label>
        <input type="text" name="nomRecette" value="<% searchOptions.nomRecette %>">
    </div>
</div>
<div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Rechercher</button>
</div>
</form>
<div>
<% recettes.forEach(recette => { %>
    <a href="/recettes/<%= recette.id %>">
        <img class="recette-image" src="<%= recette.recetteImgChemin %>">
    </a>    
<% }) %>
</div>