<h2>Création d'une nouvelle recette</h2>
<form action="/recettes" method="POST" >
<%- include('variables') %>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/recettes">Annuler</a>
    <button class="btn btn-primary" type="submit">Créer</button>
</div>    
</form>