<h2><%= recette.nomRecette %></h2>
    <div class="recette-details">
        <div>
            <img class="recette-image" src="<%= recette.recetteImgChemin %>">
            <div class="recette-details-btn">
                <a class="btn btn-primary" href="/recettes/<%= recette.id %>/edit">Modifier</a>
                <%- include('../design/suppressionForm', {url: `/recettes/${recette.id}` }) %>
                <a class="btn btn-primary" href="/typecuisine/<%= recette.typeCuisine.id %>">Voir catégorie</a>
            </div>
        </div>
        <br>
    <div><b>Catégorie culinaire : </b><%=recette.typeCuisine.name %></div>
    <div><b>Nombre de personnes : </b><%=recette.nbPersonne %></div>
    <div><b>Nombre de calories : </b><%=recette.nbCalorie %></div>
    <div><b>Temps de préparation : </b><%=recette.tpsPreparation %><label> mn</label></div>
    <div><b>Difficulté : </b><%=recette.difficulte %></div>
    <div><b>Prix : </b><%=recette.prix %><label> €</label></div>
    <div><b>Description : </b><%=recette.description %></div>
    <div><b>Ingrédients : </b><%=recette.ingredients %></div>
    <div><b>Ustensiles : </b><%=recette.ustensiles %></div>

    
</div>