<div class="form-row">
    <div class="form-item">
            <label>Intitulé</label>
            <input type="text" name="nomRecette" value="<%= recette.nomRecette %>">
    </div>
    <div class="form-item">
            <label>Catégorie culinaire</label>
            <select name="typeCuisine">
            <% typescuisine.forEach(typeCuisine =>  { %>
                <% if (typeCuisine.id === recette.typeCuisine) { %>
                    <option selected label="<%= typeCuisine.name %>" value="<%= typeCuisine.id %>">
                <% } else { %>
                <option label="<%= typeCuisine.name %>" value="<%= typeCuisine.id %>">
                <% } %>
            <% }) %>
            </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Nombre de personnes</label>
        <input type="number" name="nbPersonne" min="1" value="<%= recette.nbPersonne %>">
    </div>
    <div class="form-item">
        <label>Nombre de calories</label>
       <input type="number" name="nbCalorie" min="1" value="<%= recette.nbCalorie %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Temps de préparation (en mn)</label>
        <input type="number" name="tpsPreparation" min="5" value="<%= recette.tpsPreparation %>">
    </div>
    <div class="form-item">
        <label>Difficulté</label>
        <select name="difficulte" value="<% recette.difficulte %>">
            <option value="Facile">Facile</option>
            <option value="Moyen">Moyen</option>
            <option value="Difficile">Difficile</option>
        </select>
            <!-- <input type="text" name="difficulte" value="<%= recette.difficulte %>"> -->
        </div>
        
</div>
<div class="form-item form-item-no-margin">
    <label>Ingrédients</label>
    <input type="text" name="ingredients" value="<%= recette.ingredients %>">
</div>

<div class="form-row">
    <div class="form-item">
        <label>Prix (en €)</label>
        <input type="number" name="prix" value="<%= recette.prix %>">
    </div>
    <div class="form-item">
        <label>Ustensiles</label>
        <input type="text" name="ustensiles" value="<%= recette.ustensiles %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Plat</label>
        <input type="file" name="imagePlat" class="recette-image filepond">
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= recette.description %></textarea>
    </div>
</div>


