<h2>Ajoutés récemment</h2>
<div>
    <% recettes.forEach(recette => { %>
        <a href="/recettes/<%= recette.id %>">
            <img class="recette-image" src="<%= recette.recetteImgChemin %>">
        </a>    
    <% }) %>
    </div>