
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
  }

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(253, 199, 193), rgb(255, 254, 254));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}


/* header css */
.header-title {
    color: salmon;
    font-weight: bold;
    text-decoration: none;
    font-size: 4rem;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }

  .header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    list-style: none;
  }
  
  .header-nav li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 1rem;
  }

  .header-nav li a:hover, .header-title:hover {
    color: salmon;
  }

  /* buttons header */
  .btn {
    border: 1px solid rgb(211, 202, 202);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }

  .btn-primary {
    color: rgb(58, 124, 155);
    background-color: rgb(209, 232, 245);
  }

  .btn-primary:hover {
    color: rgb(27, 54, 66);
    background-color: rgb(109, 145, 167);
  }

  .btn-danger {
    color: black;
    background-color: rgb(218, 129, 129);
  }

  .btn-danger:hover {
    color: black;
    background-color: rgb(97, 42, 42);
  }

  .btn-row {
    display: flex;
    align-items: flex-start;
  }
  
  .btn-row > * {
    margin-left: 1rem;
  }
  
  .btn-row > *:first-child {
    margin-left: 0;
  }

  /* CSS formulaires */

  .form-row {
    display: flex;
    margin-bottom: .5rem;
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
  }

  .form-item:first-child {
    margin-left: 0;
  }
  
  .form-item-no-grow {
    flex-grow: 0;
  }
  
  .form-item-no-margin {
    margin-left: 0;
  }

  .form-row-end {
      justify-content: flex-end;
  }
  
  .form-item > label {
    font-size: 1.2rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
  }

  .form-item input, .form-item select, .form-item textarea {
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid rgb(218, 206, 206);
    background-color: rgb(252, 233, 231);
    color: black;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
  }

  .form-item textarea {
    height: 100%;
    resize: none;
  }

  .form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: white;
  }

  .filepond--root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
  }

  .filepond--panel-root {
    background-color: rgb(252, 233, 231);
    border: 1px solid rgb(247, 228, 228);
  }

/* typecuisine show CSS */

.typecuisine-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .typecuisine-name {
    font-size: 1.5rem;
  }

  /* image CSS */
  .recette-image {
      width: 190px;
      height: 125px;
  }

  /* error message */
  .error-message {
      color: red;
  }

  /* affichage recette CSS */
  .recette-details-btn{
    display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
  grid-gap: .5rem;
  margin-top: .5rem;
 }