<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Time2Cook</a>
        <ul>
            <li><a href="/typecuisine">Catégories culinaires</a></li>
            <li><a href="/typecuisine/new">Ajouter une catégorie culinaire</a></li>
            <li><a href="/recettes">Recettes</a></li>
            <li><a href="/recettes/new">Ajouter une recette</a></li>
        </ul>
    </nav>
</header>