<h2>Modifier type de cuisine</h2>
<form action="/typecuisine/<%= typeCuisine.id %>?_method=PUT" method="POST">
<%- include('variables') %>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/typecuisine/<%= typeCuisine.id %>">Annuler</a>
    <button class="btn btn-primary" type="submit">Modifier</button>
</div>
</form>