<h2>Rechercher une catégorie de cuisine</h2>
<form action="/typecuisine" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Nom</label>
            <input type="text" name="name" value="<% searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Rechercher</button>
    </div>
</form>
<br>
<% typescuisine.forEach(typecuisine => { %>
    <div class="typecuisine-row">
        <div class="typecuisine-name"><%= typecuisine.name %></div>
            <div class="btn-row">
                <a class="btn btn-primary" href="/typecuisine/<%= typecuisine.id %>">Voir</a>
                <a class="btn btn-primary" href="/typecuisine/<%= typecuisine.id %>/edit">Modifier</a>
                <%- include('../design/suppressionForm',
                                { url: `/typecuisine/${typecuisine.id}` }) %>
        </div>
    </div>                
<% }) %>
    