<h2>Création d'un nouveau type de cuisine</h2>
<form action="/typecuisine" method="POST">
<%- include('variables') %>
<div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/typecuisine">Annuler</a>
    <button class="btn btn-primary" type="submit">Créer</button>
</div>
</form>