<h2><%= typeCuisine.name %></h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/typecuisine/<%= typeCuisine.id %>/edit">Modifier</a>
    <%- include('../design/suppressionForm', { url: `/typecuisine/${typeCuisine.id}`}) %>
</div>
<% if (recettesParCat.length > 0) { %>
    <h2>Recettes par catégories culinaires</h2>
    <% recettesParCat.forEach(recette => { %>
        <a href="/recettes/<%= recette.id %>">
            <img class="recette-image" src="<%= recette.recetteImgChemin %>">
        </a>
    <% }) %>
<% } %>